<div class="card" style="width: 18rem;">
    <%= @user.avatar.attached? ? image_tag(url_for(@user.avatar), class: "img-thumbnail img-fluid") : image_tag(@user.gravatar_url, class: "img-thumbnail img-fluid") %>   
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <% if @user.id != current_user.id %>
        <%= button_to( user_friends_path(@user), class: "btn btn-info btn-small ml-5", form_class: "d-inline-block") do%>
            <%= @user.friends?(current_user) ? "Unfollow" : "Follow" %>
        <%end%>
    <%end%>
  </div>
</div>